RUN_MODE = 

PORT_LOCAL = 
PORT_TEST = 
PORT_PROD = 

HOST_LOCAL = 
HOST_TEST = 
HOST_PROD = 

DB_USERNAME_LOCAL = 
DB_PASSWORD_LOCAL = 
DB_NAME_LOCAL = 
DB_HOSTNAME_LOCAL = 

DB_USERNAME_TEST = 
DB_PASSWORD_TEST = 
DB_NAME_TEST = 
DB_HOSTNAME_TEST = 

DB_USERNAME_PROD = 
DB_PASSWORD_PROD = 
DB_NAME_PROD = 
DB_HOSTNAME_PROD = 

DB_POOL_MIN = 
DB_POOL_MAX = 
DB_POOL_IDLE =   # close after 10s
DB_POOL_ACQUIRE =  # close after 30s
DB_DIALECT = 
DB_PORT = 

GEMINI_API_KEY_LOCAL=   
GEMINI_API_KEY_TEST=
GEMINI_API_KEY_PROD=

# MongoDB and Authentication Settings
MONGO_URI_LOCAL=
MONGO_URI_TEST=
MONGO_URI_PROD = 

JWT_SECRET_LOCAL=
JWT_ALGORITHM_LOCAL = 
JWT_TOKEN_LIFE_LOCAL = 

JWT_SECRET_TEST=
JWT_ALGORITHM_TEST = 
JWT_TOKEN_LIFE_TEST = 

JWT_SECRET_PROD=
JWT_ALGORITHM_PROD = 
JWT_TOKEN_LIFE_PROD = 
